*{
    text-align: center;
}
@font-face{
    src: url(../fonts/calibre-cufonfonts/CalibreMedium.otf);
    font-family: "CalibreMedium";
}
@font-face{
    src: url(../fonts/Noir/NoirPro-Regular.ttf);
    font-family: "NoirPro-Regular";
}


.container {
    position: relative;
    width: 50%;
}
.container img {
    width: 100%;
    height: auto;
}
.bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80%;
}
.title{
    margin-top: -35rem;
    font-size: 3rem;
    color:white;
    margin-left: -40rem;
    font-family: "CalibreMedium";
}
.ninja{
    margin-top: 3.5rem;
    margin-left: 5rem;
    display: block;
    width: 35rem;
    height: 15rem;
}
.btn{
    margin-left: 15rem;
    margin-top: 3rem;
    border-radius: 4px;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    width: 15rem;
    height: 3rem;
    font-family: "NoirPro-Regular";
    background-color: #053267;
    box-shadow: 9px 9px 9px rgb(153, 206, 241), -9px -9px 16px rgba(255, 255, 255, 0.5);
}
.btn:hover {
    background-color: black;
}
.own{
    background-color: #053267;
    box-shadow: 9px 9px 9px rgb(153, 206, 241), -9px -9px 16px rgba(255, 255, 255, 0.5);
}